.page-body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
}
.page-wrapper {
  width: 100%;
  position: relative;
}
/* HEADER */
.main-header {
  position: absolute;
  width: 100%;
  background: rgba(94, 93, 88, 0.6);
}
.header-wrapper {
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 305px;
  justify-content: center;
  justify-content: space-between;
  max-width: 1160px;
  margin: 0 auto;
}
.header-logo {
  display: flex;
  text-decoration: none;
  gap: 6px;
  align-items: center;
}
.header-logo:hover {
  transform: scale(1.05);
}
.logo-text {
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  margin: 35px 0;
}
.text-green {
  color: #18cfab;
}
.text-white {
  color: #ffffff;
}
.navbar {
  display: flex;
  gap: 22px;
  align-self: stretch;
}
.navbar-list {
  display: flex;
  list-style-type: none;
  gap: 22px;
  margin: 0;
  padding: 0;
}
.navbar-search {
  border: 0;
  background-color: transparent;
}

.navbar-list-text {
  text-decoration: none;
  color: #ffffff99;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  display: flex;
  height: 100%;
  align-items: center;
}

.navbar-list-text:hover {
  color: #18cfab;
  border-bottom: 2px solid #18cfab;
  border-top: 2px solid transparent;
}
/* SECTION INTRO */
.intro {
  background-image: url(../images/intro-background.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}
.intro-content {
  padding-top: 264px;
}
.wrapper {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro-text {
  font-weight: 700;
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.main-slogan {
  font-weight: 700;
  font-size: 78px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 25px;
}
.buy-enjoy {
  color: #d4d4d4;
  font-weight: 400;
  font-size: 34px;
  margin-top: 0;
  margin-bottom: 130px;
}
.intro-buttons-wrapper {
  display: flex;
  gap: 26px;
  margin-bottom: 245px;
}
.btn {
  padding: 16px 12px;
  text-align: center;
  cursor: pointer;
  outline: none;
  background-color: #18cfab;
  border: none;
  border-radius: 5px;
  box-shadow: 0 -5px #ffffff;
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  text-transform: uppercase;
  color: #ffffff;
}

.btn:hover {
  background-color: #29c0ba;
}

.btn:active {
  background-color: #187571;
  box-shadow: 0 -5px #ffffff;
  transform: translateY(4px);
}
.btn-blue {
  background-color: #00cbf6;
}

/* SECTION ABOUT COMPANY */
.about-company {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-top: 8px solid rgba(255, 255, 255, 1);
}

.about-company-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1c2a33;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-position: 50% 30%;
  padding-top: 240px;
  padding-bottom: 110px;
}
.themes {
  background-image: url(../images/click-btn.png);
}
.customize {
  background-color: #18cfab;
  background-image: url(../images/diamond.png);
}
.support {
  background-image: url(../images/lamp.png);
}
.devices {
  background-color: #18cfab;
  background-image: url(../images/devices.png);
}
/* SECTION COMPANY SERVICES */

.section-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  position: relative;
  color: #4e4e4e;
  margin-top: 0;
  margin-bottom: 100px;
  margin-top: 95px;
}

.section-title:before {
  content: " ";
  display: block;
  position: absolute;
  width: 80px;
  height: 2px;
  margin-left: -40px;
  left: 50%;
  bottom: -26px;
  background: #18cfab;
}
.section-title:after {
  content: " ";
  display: block;
  position: absolute;
  width: 80px;
  height: 2px;
  bottom: -30px;
  left: 50%;
  margin-left: -25px;
  background: #18cfab;
}
.tabs-list {
  background-color: #f8fcfe;
  display: flex;
  list-style-type: none;
  margin-bottom: 25px;
  padding: 0;
}

.tabs-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8fcfe;
  border: 1px solid #edefef;
  width: 193px;
  padding-top: 17px;
  padding-bottom: 17px;
  cursor: pointer;
  color: #717171;
  font-weight: 400;
  font-size: 15px;
  line-height: 39px;
  position: relative;
}
.tabs-item.is-active {
  background-color: #18cfab;
}
.tabs-item.is-active::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #18cfab;
  display: block;
  position: absolute;
  top: 100%;
  right: 40%;
}
.tabs-item:hover {
  border: 1.5px solid #18cfab;
}
.tabs-content {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}
.tabs-services {
  font-weight: 300;
  font-size: 13px;
  line-height: 24px;
  color: #777777;
  display: flex;
  gap: 15px;
  display: none;
}
.tabs-services.is-active {
  display: flex;
}
.services-img {
  width: 192px;
  height: 139px;
}
.tabs-text {
  width: 952px;
}
/* SECTION PURCHASE */
.purchase {
  background-image: url(../images/purchase-background.png);
  background-size: cover;
  padding-bottom: 125px;
}
.purchase-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.purchase-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  margin-top: 125px;
  margin-bottom: 15px;
}
.purchase-text {
  color: #d8d8d8;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  margin-top: 0;
  margin-bottom: 65px;
}

/* SECTION COMPANY WORK */

.company-work {
  background-color: #e9edef;
}
.company-work-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.work-list {
  list-style-type: none;
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 70px;
}
.work-list-item {
  border: 1px solid #dadada;
  padding: 14px 15px;
  color: #717171;
  font-weight: 400;
  font-size: 14px;
  line-height: 42px;
  min-width: 80px;
  text-align: center;
}
.work-list-item:hover {
  color: #18cfab;
  border: 2px solid #18cfab;
}
.work-card {
  background-color: rgba(233, 237, 239, 1);
  width: 285px;
  height: 210px;
  border-top: 6px solid rgba(24, 207, 171, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  position: absolute;
  top: 0;
  transition: 0.5s;
  opacity: 0;
}
.work-card-links {
  margin-bottom: 25px;
}
.card-link {
  background-image: url(../images/css_sprites.png);
  display: inline-block;
  width: 43px;
  height: 43px;
}
.card-link.square {
  background-position: right;
}
.work-card-content {
  color: rgba(24, 207, 171, 1);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
}
.work-card-text {
  font-weight: 300;
  font-size: 13px;
  color: rgba(138, 138, 138, 1);
  line-height: 25px;
}
.images-container {
  margin-bottom: 70px;
  line-height: 0;
}
.service-image {
  transition: 0.5s;
}
.image-wrapper {
  display: inline-block;
  position: relative;
}
.image-wrapper:hover .service-image {
  opacity: 0;
}
.image-wrapper:hover .work-card {
  opacity: 1;
}
.service-image:hover {
  background: #e9edef;
  color: #18cfab;
}
.load-btn {
  border: 0;
  background-color: #18cfab;
  background-image: url(../images/plus-btn.png);
  background-repeat: no-repeat;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 100px;
  padding: 25px 25px 25px 55px;
  background-position: 15% 45%;
}
.load-btn:hover {
  background-color: #29c0ba;
}
.load-btn:active {
  background-color: #187571;
  transform: translateY(4px);
}
.load-btn.hidden {
  display: none;
}

/* SECTION NEWS */
.news {
  background-color: #ffffff;
}
.news-content-wrapper {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 0;
  padding-left: 0;
  margin-bottom: 130px;
  gap: 35px;
}

.news-list-link {
  text-decoration: none;
}
.news-list-link:hover {
}
.news-list-link:hover .item-date {
  background-color: #18cfab;
}
.news-list-block {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}
.news-list-img {
  position: relative;
}
.news-item-title {
  color: #717171;
  font-weight: 700;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 15px;
  margin-left: 20px;
}
.news-list-link:hover .news-item-title {
  color: #18cfab;
}

.item-date {
  background-color: #203e38;
  display: flex;
  flex-direction: column;
  width: 70px;
  height: 68px;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
}

.date {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
}
.news-text {
  color: #777777;
  font-weight: 300;
  font-size: 14px;
  margin-left: 20px;
}
.comments {
  border-left: 1px solid #777777;
  padding-left: 5px;
  margin-left: 5px;
  display: inline-block;
  line-height: 10px;
}
.customers-reviews {
  background-image: url(../images/customers-reviews-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.reviews-title {
  color: #ffffff;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

.customer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
  display: none;
  animation: fadein 0.5s ease-out;
}
.customer-info.active {
  display: flex;
}

.reviews-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 35px;
  margin-top: 0;
}
.text-grey {
  color: #bbbbbb;
}
.customer-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 15px;
  margin-top: 0;
}
.customer-specialty {
  font-weight: 300;
  font-size: 13px;
  line-height: 27px;
  margin-top: 0;
  margin-bottom: 40px;
}
.customer-img-big {
  width: 143px;
  height: 142px;
  border: 12px solid rgba(31, 218, 181, 0.2);
  border-radius: 75px;
}
.customer-gallery {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 105px;
  margin-top: 40px;
}
.gallery-btn {
  width: 30px;
  height: 30px;
  border: 1px solid #bbbbbb;
  background: rgba(0, 0, 0, 0.0001);
  padding: 0;
}
.gallery-btn:hover {
  background-color: rgba(24, 207, 171, 1);
  border: 0;
}
.fa-chevron-left {
  color: #bbbbbb;
}
.fa-chevron-right {
  color: #bbbbbb;
}

.customer-list {
  list-style-type: none;
  display: flex;
  gap: 30px;
  align-items: center;
  padding-left: 0;
}
.customer-list-item:hover {
  transform: scale(1.15);
}
.customer-list-item.active {
  position: relative;
  bottom: 15px;
}
.customer-list-img {
  border-radius: 35px;
  border: 5px solid rgba(31, 218, 181, 0.2);
}
/* FOOTER */
.footer {
  background: #22353f;
  width: 100%;
}
.footer-text {
  padding-top: 50px;
  margin: 0 auto;
  padding-bottom: 50px;
  text-align: center;
  color: #aeaeae;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
}
.text-span {
  border-right: 1px solid #aeaeae;
  padding-right: 5px;
  margin-right: 5px;
}
